body {
	background: black url('img/stars.gif') repeat right top;
}

/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #D2DFFF;
  width: 100%;
  z-index: 1;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 10px;
  text-decoration: none;
  font-size: 40px;
  display: block;
  text-shadow: 2px 2px 4px #000000;
}

/* Style the hamburger menu */
.topnav a.icon {
  display: block;
  position: absolute;
  right: 20px;
  top: 10px;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #49CBFF;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #4CAF50;
  color: white;
}

@media (max-width: 991px) {
  /* Style the navigation menu */
  .topnav {
    overflow: hidden;
    background-color: #D2DFFF;
    position: fixed;
    width: 100%;
    z-index: 1;
  }

  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }

  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 10px;
    text-decoration: none;
    font-size: 50px;
    display: block;
    text-shadow: 2px 2px 4px #000000;
  }

  /* Style the hamburger menu */
  .topnav a.icon {
    display: block;
    position: absolute;
    right: 20px;
    top: 10px;
  }

  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #49CBFF;
    color: black;
  }

  /* Style the active link (or home/logo) */
  .active {
    background-color: #4CAF50;
    color: white;
  }
}

#stats {
	position: absolute;
	right: 20px;
	top: 20px;
	border: 5px solid black;
	width: 140px;
	font-size: 22px;
	font-weight: bold;
	font-family: monospace;
	text-align: center;
	color: red;
	background-color: #c1c1c1;
}

.play {
	color: blue;
	font-weight: bold;
}

.play:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#message {
	color: yellow;
	font-size: 62px;
	margin-top: 250px;
	width: 100%;
	text-align: center;
	display: none;
}

#ship {
	height: 70px;
	position: absolute;
	bottom: 40px;
	left: 50%;
}

.enemy {
	background-image: url('img/invaders.png');
	display: inline-block;
	width: 50px;
	height: 50px;
	position: absolute;
}

.e1 {
	background-position: 0px 0px;
}

.e2 {
	background-position: 0px 50px;
}

.e3 {
	background-position: 0px 100px;
}

.bullet {
	background-color: red;
	width: 3px;
	height: 50px;
	position: absolute;
	bottom: 60px;
	animation-name: moveUp;
	animation-duration: 1s;
	animation-timing-function: linear;
}

.explosion {
	position: absolute;
	background-image: url('img/bum.gif');
	display: inline-block;
	width: 50px;
	height: 50px;
}

@keyframes moveUp {
	from {bottom: 60px;}
	to {bottom: 1000px;}
}

.footer {
	background-color: #fa9157;
	text-align: center;
	position: fixed;
  bottom: 0;
  width: 100%;
}
