.kemicofa-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    justify-content: stretch;
}

.kemicofa-row > * {
    flex-basis: 20rem;
    flex-shrink: 0;
}

.kemicofa-row .card {
    display: flex;
    flex-direction: column;

}

.kemicofa-row .card > .card-content {
    flex-grow: 1;
}

.kemicofa-row .card > .card-image {
    flex-basis: 25rem;
    flex-shrink: 0;
    overflow-y: hidden;
    background-color: grey;
}

body {
    margin: 0;
    overflow-x: hidden;
}

.nav-wrapper{
  background-color: white;
  width: auto;
  height: 1000px;
}

.hero-image-1{
  background-image: url("background-hero-1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 1100px;
}

.animehelper-text {
  text-align: center;
  position: fixed;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 5rem;
  text-shadow: 2px 2px 4px #000000;
}
