body {
  margin: 0;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  margin: 0;
}

/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #D2DFFF;
  position: fixed;
  width: 100%;
  z-index: 1;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 10px;
  text-decoration: none;
  font-size: 30px;
  display: block;
  text-shadow: 2px 2px 4px #000000;
}

/* Style the hamburger menu */
.topnav a.icon {
  display: block;
  position: absolute;
  right: 20px;
  top: 10px;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ff3557;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #4CAF50;
  color: white;
}

@media (max-width: 991px) {
  /* Style the navigation menu */
  .topnav {
    overflow: hidden;
    background-color: #D2DFFF;
    position: fixed;
    width: 100%;
    z-index: 1;
  }

  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }

  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 10px;
    text-decoration: none;
    font-size: 60px;
    display: block;
    text-shadow: 2px 2px 4px #000000;
  }

  /* Style the hamburger menu */
  .topnav a.icon {
    display: block;
    position: absolute;
    right: 20px;
    top: 10px;
  }

  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #ff3557;
    color: black;
  }

  /* Style the active link (or home/logo) */
  .active {
    background-color: #4CAF50;
    color: white;
  }
}

.hero-image-1{
  background-image: url("images/background-hero-1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 1100px;
}

.animehelper-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 4rem;
  text-shadow: 2px 2px 4px #000000;
}

a{
  color: white ! important;
}

.main-buttons {
  display: flex;
  justify-content: space-around;
}

.game-button{
  background-color: #D2DFFF;
  padding: 1rem;
  border-radius: 10px;
}

.game-text{
  text-align: center;
  position: absolute;
  top: 60%;
  left: 25%;
  color: white;
  font-size: 3em;
  text-shadow: 2px 2px 4px #000000;
}

.game-text:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.news-button{
  background-color: #D2DFFF;
  padding: 1rem;
  border-radius: 10px;
}

.news-text{
  text-align: center;
  position: absolute;
  top: 60%;
  left: 44%;
  color: white;
  font-size: 3em;
  text-shadow: 2px 2px 4px #000000;
}

.news-text:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.video-button{
  background-color: #D2DFFF;
  padding: 1rem;
  border-radius: 10px;
}

.video-text-1{
  text-align: center;
  position: absolute;
  top: 60%;
  left: 60%;
  color: white;
  font-size: 3em;
  text-shadow: 2px 2px 4px #000000;
}

.video-text-1:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.search-button{
  background-color: #D2DFFF;
  padding: 1rem;
  border-radius: 10px;
}

.search-text-1{
  text-align: center;
  position: absolute;
  top: 75%;
  left: 35%;
  color: white;
  font-size: 3em;
  text-shadow: 2px 2px 4px #000000;
}

.search-text-1:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.support-text-button {
  text-align: center;
  position: absolute;
  top: 75%;
  left: 50%;
  color: white;
  font-size: 3em;
  text-shadow: 2px 2px 4px #000000;
}

.support-text-button:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.support-button {
  background-color: #D2DFFF;
  padding: 1rem;
  border-radius: 10px;
}

@media (max-width: 1100px) {
  .animehelper-text {
    text-align: center;
    position: absolute;
    top: 400px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 4rem;
    text-shadow: 2px 2px 4px #000000;
  }

  .main-buttons {
    display: flex;
    justify-content: space-around;
  }

  .game-button{
    background-color: #D2DFFF;
    padding: 1rem;
    border-radius: 10px;
  }

  .game-text{
    text-align: center;
    position: absolute;
    top: 500px;
    left: 200px;
    color: white;
    font-size: 3em;
    text-shadow: 2px 2px 4px #000000;
  }

  .game-text:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .news-button{
    background-color: #D2DFFF;
    padding: 1rem;
    border-radius: 10px;
  }

  .news-text{
    text-align: center;
    position: absolute;
    top: 500px;
    left: 400px;
    color: white;
    font-size: 3em;
    text-shadow: 2px 2px 4px #000000;
  }

  .news-text:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .video-button{
    background-color: #D2DFFF;
    padding: 1rem;
    border-radius: 10px;
  }

  .video-text-1{
    text-align: center;
    position: absolute;
    top: 500px;
    left: 560px;
    color: white;
    font-size: 3em;
    text-shadow: 2px 2px 4px #000000;
  }

  .video-text-1:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .search-button{
    background-color: #D2DFFF;
    padding: 1rem;
    border-radius: 10px
  }

  .search-text-1{
    text-align: center;
    position: absolute;
    top: 600px;
    left: 300px;
    color: white;
    font-size: 3em;
    text-shadow: 2px 2px 4px #000000;
  }

  .search-text-1:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .support-text-button {
    text-align: center;
    position: absolute;
    top: 600px;
    left: 500px;
    color: white;
    font-size: 3em;
    text-shadow: 2px 2px 4px #000000;
  }

  .support-text-button:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .support-button {
    background-color: #D2DFFF;
    padding: 1rem;
    border-radius: 10px;
  }
}

.support-us {
  background-size: cover;
  background-attachment: fixed;
  height: 600px;
}

.support-text {
  text-align: center;
  position: absolute;
  margin-top: 1.4em;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #D2DFFF;
  font-size: 60px;
  text-shadow: 2px 2px 4px #000000;
}

.patreon-text {
  text-align: center;
  position: absolute;
  top: 1275px;
  left: 40%;
  color: white;
  font-size: 4em;
  text-shadow: 2px 2px 4px #000000;
}

.patreon-button {
  background-color: #D2DFFF;
  padding: 20px;
  border-radius: 30px;
}

.patreon-button:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.patreon-contest {
  text-align: center;
  position: absolute;
  width: 50%;
  left: 25%;
  top: 1300px;
  padding: 120px;
  color: black;
  font-size: 1em;
}

.donate-text {
  text-align: center;
  position: absolute;
  top: 1400px;
  left: 45%;
  text-shadow: 2px 2px 4px #000000;
}

.rules {
  text-align: center;
  position: absolute;
  top: 1600px;
  left: 30%;
  color: white;
  font-size: 2em;
  text-shadow: 2px 2px 4px #000000;
}

.rules-button {
  background-color: #D2DFFF;
  padding: 20px;
  border-radius: 30px;
}

.rules-button:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.paypal {
  text-align: center;
  left: 40%;

}

@media (max-width: 1200px) {
  .support-us {
    background-size: cover;
    background-attachment: fixed;
    height: 600px;
  }

  .support-text {
    text-align: center;
    position: absolute;
    margin-top: 1.4em;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #D2DFFF;
    font-size: 60px;
    text-shadow: 2px 2px 4px #000000;
  }

  .patreon-text {
    text-align: center;
    position: absolute;
    top: 1275px;
    left: 40%;
    color: white;
    font-size: 4em;
    text-shadow: 2px 2px 4px #000000;
  }

  .patreon-button {
    background-color: #D2DFFF;
    padding: 20px;
    border-radius: 30px;
  }

  .patreon-button:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .patreon-contest {
    text-align: center;
    position: absolute;
    width: 50%;
    left: 25%;
    top: 1350px;
    padding: 50px;
    color: black;
    font-size: 1em;
  }
}

.news{
  background-color: #D2DFFF;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 1050px;
}

.news-title {
  text-align: center;
  position: absolute;
  margin-top: 1.5em;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 50px;
  text-shadow: 2px 2px 4px #000000;
}

.n1{
  display: flex;
  justify-content: center;
  position: absolute;
  margin-top: 10em;
  left: 15%;
  text-shadow: 2px 2px 4px #000000;
}

.n1:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.n2{
  display: flex;
  justify-content: center;
  position: absolute;
  margin-top: 10em;
  left: 40%;
  text-shadow: 2px 2px 4px #000000;
}

.n2:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.n3 {
  display: flex;
  justify-content: center;
  position: absolute;
  margin-top: 10em;
  left: 65%;
  text-shadow: 2px 2px 4px #000000;
}

.n3:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.n4{
  display: flex;
  justify-content: center;
  position: absolute;
  margin-top: 40em;
  left: 15%;
  text-shadow: 2px 2px 4px #000000;
}

.n4:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.n5{
  display: flex;
  justify-content: center;
  position: absolute;
  margin-top: 40em;
  left: 40%;
  text-shadow: 2px 2px 4px #000000;
}

.n5:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.n6 {
  display: flex;
  justify-content: center;
  position: absolute;
  margin-top: 40em;
  left: 65%;
  text-shadow: 2px 2px 4px #000000;
}

.n6:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

@media (max-width: 1200px) {

  .news{
    background-color: #D2DFFF;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 1050px;
  }

  .news-title {
    text-align: center;
    position: absolute;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50px;
    text-shadow: 2px 2px 4px #000000;
  }

  .n1{
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: 11em;
    left: 20px;
    text-shadow: 2px 2px 4px #000000;
  }

  .n1:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .n2{
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: 11em;
    left: 340px;
    text-shadow: 2px 2px 4px #000000;
  }

  .n2:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .n3 {
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: 11em;
    left: 660px;
    text-shadow: 2px 2px 4px #000000;
  }

  .n3:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .n4{
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: 43em;
    left: 20px;
    text-shadow: 2px 2px 4px #000000;
  }

  .n4:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .n5{
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: 43em;
    left: 340px;
    text-shadow: 2px 2px 4px #000000;
  }

  .n5:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .n6 {
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: 43em;
    left: 660px;
    text-shadow: 2px 2px 4px #000000;
  }

  .n6:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
}

.video-master {
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
}

.video-title {
  text-align: center;
  position: absolute;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #D2DFFF;
  font-size: 50px;
  text-shadow: 2px 2px 4px #000000;
}

.v1{
  display: flex;
  justify-content: center;
  position: absolute;
  margin-top: 200px;
  left: 15%;
  text-shadow: 2px 2px 4px #000000;
}

.v1:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.v2{
  display: flex;
  justify-content: center;
  position: absolute;
  margin-top: 200px;
  left: 40%;
  text-shadow: 2px 2px 4px #000000;
}

.v2:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.v3{
  display: flex;
  justify-content: center;
  position: absolute;
  margin-top: 200px;
  left: 65%;
  text-shadow: 2px 2px 4px #000000;
}

.v3:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

@media (max-width: 1200px) {
  .video-master {
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 1000px;
  }

  .video-title {
    text-align: center;
    position: absolute;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #D2DFFF;
    font-size: 50px;
    text-shadow: 2px 2px 4px #000000;
  }

  .v1{
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: 150px;
    left: 340px;
    text-shadow: 2px 2px 4px #000000;
  }

  .v1:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .v2{
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: 450px;
    left: 340px;
    text-shadow: 2px 2px 4px #000000;
  }

  .v2:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .v3{
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: 750px;
    left: 340px;
    text-shadow: 2px 2px 4px #000000;
  }

  .v3:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
}

.about-master {
  display: flex;
  align-items: center;
  padding: 2em;
}

.about-title {
  display: flex;
  text-align: center;
  padding-left: 2em;
  padding-right: 2em;
  margin-top: 2em;
  margin-left: 2em;
  margin-right: 2em;
  font-size: 3em;
}

.about-text {
  display: flex;
  justify-content: center;
  padding: 5em;
  margin-top: 5em;
}

.games{
  background-color: #D2DFFF;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 650px;
}

.games-title {
  text-align: center;
  position: absolute;
  margin-top: 1.5em;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 5rem;
  text-shadow: 2px 2px 4px #000000;
}

.g1{
  display: flex;
  justify-content: center;
  position: absolute;
  margin-top: 10em;
  left: 35%;
  text-shadow: 2px 2px 4px #000000;
}

.g1:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.g2{
  display: flex;
  justify-content: center;
  position: absolute;
  margin-top: 10em;
  left: 15%;
  text-shadow: 2px 2px 4px #000000;
}

.g2:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.g3 {
  display: flex;
  justify-content: center;
  position: absolute;
  margin-top: 10em;
  left: 55%;
  text-shadow: 2px 2px 4px #000000;
}

.g3:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.g4 {
  display: flex;
  justify-content: center;
  position: absolute;
  margin-top: 10em;
  left: 75%;
  text-shadow: 2px 2px 4px #000000;
}

.g4:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

@media (max-width: 991px) {
  .games{
    background-color: #D2DFFF;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 700px;
  }

  .g1{
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: 15em;
    left: 10px;
    text-shadow: 2px 2px 4px #000000;
  }

  .g1:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .g2{
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: 15em;
    left: 250px;
    text-shadow: 2px 2px 4px #000000;
  }

  .g2:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .g3 {
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: 15em;
    left: 500px;
    text-shadow: 2px 2px 4px #000000;
  }

  .g3:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .g4 {
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: 15em;
    left: 75%;
    text-shadow: 2px 2px 4px #000000;
  }

  .g4:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
}

.search-hero-image{
  background-image: url("images/map.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
}

.search-text-2{
  text-align: center;
  position: absolute;
  left: 35%;
  top: 5%
  transform: translate(-50%, -50%);
  color: white;
  font-size: 10rem;
  text-shadow: 2px 2px 4px #000000;
}

.search-button {
  color: black;
  padding: 10px;
  background-color: #D2DFFF;
}
.search-button :hover {
  background-color: #111;
}

.kemicofa-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    justify-content: stretch;
}

.kemicofa-row > * {
    flex-basis: 20rem;
    flex-shrink: 0;
}

.kemicofa-row .card {
    display: flex;
    flex-direction: column;

}

.kemicofa-row .card > .card-content {
    flex-grow: 1;
}

.kemicofa-row .card > .card-image {
    flex-basis: 25rem;
    flex-shrink: 0;
    overflow-y: hidden;
    background-color: grey;
}

.find-out-more-button {
  padding: 10px;
  background-color: #D2DFFF;
}
.find-out-more-button :hover {
  background-color: #111;
}

.how-it-works-master{
  display: flex;
  align-items: center;
  padding: 2em;
  margin-bottom: 250px;
}

.how-it-works-title{
  display: flex;
  text-align: center;
  margin-top: 2em;
  padding-left: 2em;
  padding-right: 2em;
  margin-bottom: 2em;
  margin-left: 2em;
  margin-right: 2em;
  font-size: 3em;
}

.how-it-works-text{
  display: flex;
  text-align: left;
  padding-left: 4em;
  padding-right: 3em;
  font-size: 1em;
}

.Footer-master{
  background-color: #D2DFFF;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-text {
  padding: 5px;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.counter {
  background-color: #D2DFFF;
  display: flex;
  justify-content: center;
}

@media (max-width: 991px) {
  .Footer-master{
    background-color: #D2DFFF;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 200px;
  }

  .footer-text {
    padding: 5px;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .counter {
    background-color: #D2DFFF;
    display: flex;
    justify-content: center;
  }
}
