html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font: 16px sans-serif;
}

.SM{
  display: flex;
  padding: 10px;
}

.navbar{
  z-index: 1;
  text-shadow: 2px 2px 4px #000000;
  color: black;
}

.navbar:not(.top-nav-collapse) {
  background: black ;
}

@media (max-width: 991px) {
  body {
    margin: 0;
    font: 14px sans-serif;
  }
  .navbar:not(.top-nav-collapse) {
    background: black ;
  }
  .wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  header {
    text-align: center;
    background: black;
    color: #fff;
    padding: 5px;
  }

  footer {
    padding: 5px;
    text-align: center;
    font-size: 6px;
    background: black;
    color: white;
  }

  .game-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;
  }
  .game {
    width: 300px;
    height: 200px;
    background: url(../img/background-blue.png);
    animation: scroll-background 5s linear infinite;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    position: relative;
  }

  @keyframes scroll-background {
    from {
      background-position-y: 0px;
    }
    to {
      background-position-y: 128px;
    }
  }

  .game .enemy {
    position: absolute;
    margin-left: -10px;
    margin-top: -9px;
    width: 20px;
  }

  .game .player {
    position: absolute;
    margin-left: -10px;
    width: 20px;
  }

  .game .laser {
    position: absolute;
    margin-left: -2.5px;
    height: 15px;
  }

  .game .enemy-laser {
    position: absolute;
    margin-left: -2.5px;
    height: 30px;
  }

  .congratulations {
    display: none;
    position: absolute;
    background: #c7a526;
    color: white;
    padding: 20px 50px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
    animation: pop-in 1s;
  }

  .game-over {
    display: none;
    position: absolute;
    background: #6b1818;
    color: white;
    padding: 10px 25px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
    animation: pop-in 1s;
  }

  .btn {
    border: 2px solid #D2DFFF;
    border-radius: 3px;
    box-shadow: 0 2px rgba(0, 0, 0, 0.15);
    );
    padding: 5px 20px;
    font: 7px sans-serif;
  }


  @keyframes pop-in {
    0% {
      opacity: 0;
      transform: translate(0, -50px);
    }
    10% {
      opacity: 1;
    }
    50% {
      transform: translate(0, 15px);
    }
    100% {
      transform: translate(0, 0);
    }
  }

}

.wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  text-align: center;
  background: black;
  color: #fff;
  padding: 10px;
}

footer {
  padding: 10px;
  text-align: center;
  font-size: 11px;
  background: black;
  color: white;
}

.game-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #222;
}
.game {
  width: 800px;
  height: 600px;
  background: url(../img/background-blue.png);
  animation: scroll-background 5s linear infinite;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  position: relative;
}

@keyframes scroll-background {
  from {
    background-position-y: 0px;
  }
  to {
    background-position-y: 256px;
  }
}

.game .enemy {
  position: absolute;
  margin-left: -20px;
  margin-top: -18px;
  width: 40px;
}

.game .player {
  position: absolute;
  margin-left: -20px;
  width: 40px;
}

.game .laser {
  position: absolute;
  margin-left: -2.5px;
  height: 30px;
}

.game .enemy-laser {
  position: absolute;
  margin-left: -2.5px;
  height: 30px;
}

.congratulations {
  display: none;
  position: absolute;
  background: #c7a526;
  color: white;
  padding: 20px 50px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-align: center;
  animation: pop-in 1s;
}

.game-over {
  display: none;
  position: absolute;
  background: #6b1818;
  color: white;
  padding: 20px 50px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-align: center;
  animation: pop-in 1s;
}

.btn {
  border: 2px solid #D2DFFF;
  border-radius: 3px;
  box-shadow: 0 2px rgba(0, 0, 0, 0.15);
  );
  padding: 10px 40px;
  font: 14px sans-serif;
}


@keyframes pop-in {
  0% {
    opacity: 0;
    transform: translate(0, -100px);
  }
  10% {
    opacity: 1;
  }
  50% {
    transform: translate(0, 30px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@media (max-width: 700px) {
  body {
    margin: 0;
    font: 8px sans-serif;
  }
  .navbar:not(.top-nav-collapse) {
    background: black ;
  }
  .wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  header {
    text-align: center;
    background: black;
    color: #fff;
    padding: 5px;
  }

  footer {
    padding: 2.5px;
    text-align: center;
    font-size: 3px;
    background: black;
    color: white;
  }

  .game-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;
  }
  .game {
    width: 50px;
    background: url(../img/background-blue.png);
    animation: scroll-background 5s linear infinite;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    position: relative;
  }

  @keyframes scroll-background {
    from {
      background-position-y: 0px;
    }
    to {
      background-position-y: 20px;
    }
  }

  .game .enemy {
    position: absolute;
    margin-left: -1px;
    margin-top: -2px;
    width: 10px;
  }

  .game .player {
    position: absolute;
    margin-left: -10px;
    width: 30px;
  }

  .game .laser {
    position: absolute;
    margin-left: -1.25px;
    height: 20px;
  }

  .game .enemy-laser {
    position: absolute;
    margin-left: -1.25px;
    height: 20px;
  }

  .congratulations {
    display: none;
    position: absolute;
    background: #c7a526;
    color: white;
    padding: 15px 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align: center;
    animation: pop-in 1s;
  }

  .game-over {
    display: none;
    position: absolute;
    background: #6b1818;
    color: white;
    padding: 5px 12.5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align: center;
    animation: pop-in 1s;
  }

  .btn {
    border: 1px solid #D2DFFF;
    border-radius: 1.5px;
    box-shadow: 0 2px rgba(0, 0, 0, 0.15);
    );
    padding: 5px 10px;
    font: 7px sans-serif;
  }


  @keyframes pop-in {
    0% {
      opacity: 0;
      transform: translate(0, -25px);
    }
    10% {
      opacity: 1;
    }
    50% {
      transform: translate(0, 7.5px);
    }
    100% {
      transform: translate(0, 0);
    }
  }
}
