body {
  margin: 0;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar{
  z-index: 1;
  text-shadow: 2px 2px 4px #000000;
  color: black;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100px;
  padding: 10px;
}

.navbar:not(.top-nav-collapse) {
  background: #D2DFFF ;
  position: fixed;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #D2DFFF;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}


@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #D2DFFF ;
  }
}

.SM{
  display: flex;
  justify-content: space-around;
  margin: 15px;
  padding: 0;
}

.games{
  background-color: #D2DFFF;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 80px;
  height: 300px;
}

.games-title {
  text-align: center;
  position: absolute;
  margin-top: 1.5em;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FF518F;
  font-size: 5rem;
  text-shadow: 2px 2px 4px #000000;
}

.g1{
  display: flex;
  justify-content: center;
  position: absolute;
  margin-top: 150px;
  top: 150px;
  left: 35%;
  text-shadow: 2px 2px 4px #000000;
}

.g1:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.g2{
  display: flex;
  justify-content: center;
  position: absolute;
  margin-top: 150px;
  top: 150px;
  left: 15%;
  text-shadow: 2px 2px 4px #000000;
}

.g2:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.g3 {
  display: flex;
  justify-content: center;
  position: absolute;
  margin-top: 150px;
  top: 150px;
  left: 55%;
  text-shadow: 2px 2px 4px #000000;
}

.g3:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.g4 {
  display: flex;
  justify-content: center;
  position: absolute;
  margin-top: 150px;
  top: 150px;
  left: 75%;
  text-shadow: 2px 2px 4px #000000;
}

.g4:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.g5 {
  display: flex;
  justify-content: center;
  position: absolute;
  margin-top: 150px;
  top: 650px;
  left: 15%;
  padding-bottom: 50px;
  text-shadow: 2px 2px 4px #000000;
}

.g5:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

@media (max-width: 991px) {
  .g1{
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: 150px;
    left: 5px;
    text-shadow: 2px 2px 4px #000000;
  }

  .g1:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .g2{
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: 150px;
    left: 240px;
    text-shadow: 2px 2px 4px #000000;
  }

  .g2:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .g3 {
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: 150px;
    left: 470px;
    text-shadow: 2px 2px 4px #000000;
  }

  .g3:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .g4 {
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: 150px;
    left: 710px;
    text-shadow: 2px 2px 4px #000000;
  }

  .g4:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .g5 {
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: 10em;
    top: 650px;
    left: 10px;
    text-shadow: 2px 2px 4px #000000;
  }

  .g5:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
}

.Footer-master{
  background-color: #D2DFFF;
  text-align: center;
	position: fixed;
  bottom: 0;
  width: 100%;
}

.counter {
  background-color: #D2DFFF;
  display: flex;
  justify-content: center;
}
