body {
  background-color: lightblue;
  text-align: center;
}

.navbar{
  z-index: 1;
  text-shadow: 2px 2px 4px #000000;
  color: black;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 120px;
}

.navbar:not(.top-nav-collapse) {
  background: #D2DFFF ;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #D2DFFF ;
  }
}

.SM{
  display: flex;
  padding: 10px;
}

.master-title {
  height: 400px;
  margin-top: 10px;
}
.master-title2{
  height: 200px;
  background-position: right;
}

.about-information{
  display: flex;
  justify-content: center;
  margin-left: 15em;
  margin-right: 15em;
  font-size: 2em;
}

button {
  width: 10%;
  height: 2em;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.barrel-bowl {
  height: 250px;
  width: 30%;
  position: relative;
  margin-top: 150px;
}

.bowl {
  width: 200px;
  z-index: 10;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  margin: 0 auto;
}

.luffy {
  width: 150px;
  z-index: 0;
  position: absolute;
  transition:all 0.4s;
  left: 0;
  right: 0;
  bottom: 20px;
  margin: 0 auto;
}

.up {
  bottom: 150px;
}

.footer {
  background-color: #D2DFFF;
  text-align: center;
  top: 50%;
  height: 2em;
}

@media (max-width: 991px) {

  .about-information{
    display: flex;
    justify-content: center;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 1rem;
    margin-bottom: 100px;
  }

  button {
    width: 10%;
    height: 1em;
  }

  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .barrel-bowl {
    height: 250px;
    width: 30%;
    position: relative;
    margin-top: 150px;
  }

  .bowl {
    width: 150px;
    z-index: 10;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0 auto;
  }

  .luffy {
    width: 100px;
    z-index: 0;
    position: absolute;
    transition:all 0.4s;
    left: 0;
    right: 0;
    bottom: 5px;
    margin: 0 auto;
  }

  .up {
    bottom: 125px;
  }

}

@media (max-width: 700px) {
  .master-title {
    height: 20px;
    margin-top: 2px;
    font-size: 4em;
  }
  .master-title2{
    height: 10px;
    background-position: right;
    font-size: 2rem;
  }

  .about-information{
    display: flex;
    justify-content: center;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 1rem;
    margin-bottom: 100px;
  }

  button {
    width: 10%;
    height: 1em;
  }

  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .barrel-bowl {
    height: 250px;
    width: 30%;
    position: relative;
    margin-top: 50px;
  }

  .bowl {
    width: 75px;
    z-index: 10;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0 auto;
  }

  .luffy {
    width: 50px;
    z-index: 0;
    position: absolute;
    transition:all 0.4s;
    left: 0;
    right: 0;
    bottom: 5px;
    margin: 0 auto;
  }

  .up {
    bottom: 75px;
  }
}
