body {
  margin: 0;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar{
  z-index: 1;
  text-shadow: 2px 2px 4px #000000;
  color: black;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100px;
  padding: 10px;
}

.navbar:not(.top-nav-collapse) {
  background: #D2DFFF ;
  position: fixed;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #D2DFFF;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.logo {
  width: 500px;
  z-index: 0;
}

@media (max-width: 991px) {
  .navbar{
    z-index: 1;
    text-shadow: 2px 2px 4px #000000;
    color: black;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
    padding: 5px;
  }

  .navbar:not(.top-nav-collapse) {
    background: #D2DFFF ;
    position: fixed;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #D2DFFF;
    top: 0;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #111;
  }

  .navbar:not(.top-nav-collapse) {
    background: #D2DFFF ;
  }

  .logo {
    width: 200px;
    z-index: 0;
  }
}

.SM{
  display: flex;
  justify-content: flex-end;
  margin: 15px;
  padding: 0;
}

.master {
  top: 25%;
}

.header {
  text-align: center;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #BD1E33;
  font-size: 50px;
  text-shadow: 2px 2px 4px #000000;
}

.author {
  text-align: center;
  position: absolute;
  top: 35%;
  left: 40%;
}

.image-1 {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 45%;
  left: 30%;
  width: 600px;
}

.body-1 {
  position: absolute;
  top: 105%;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
  font-size: 20px;
}

.image-2 {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 150%;
  width: 700px;
  left: 25%;
}

.body-2 {
  position: absolute;
  top: 190%;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
  font-size: 20px;
}

.image-3 {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 220%;
  width: 200px;
  left: 40%;
}

.body-3 {
  position: absolute;
  top: 250%;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
  font-size: 20px;
}

.image-4 {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 280%;
  width: 50px;
  left: 50%;
  align-items: center;
}

.body-4 {
  position: absolute;
  top: 310%;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
  font-size: 20px;
}

.image-5 {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 340%;
  width: 600px;
  left: 30%;
}

.body-5 {
  position: absolute;
  top: 370%;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
  font-size: 20px;
}

.image-6 {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 410%;
  width: 700px;
  left: 20%;
}

.body-6 {
  position: absolute;
  top: 450%;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
  font-size: 20px;
}

.image-7 {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 480%;
  width: 700px;
  left: 25%;
}

.body-7 {
  position: absolute;
  top: 520%;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
  font-size: 20px;
}

.image-8 {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 550%;
  width: 700px;
  left: 25%;
  padding-bottom: 140px;
}

.body-8 {
  position: absolute;
  top: 590%;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
  font-size: 20px;
}

.image-9 {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 620%;
  width: 700px;
  left: 25%;
}

.body-9 {
  position: absolute;
  top: 660%;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
  font-size: 20px;
}

.image-10 {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 700%;
  width: 700px;
  left: 25%;
  padding-bottom: 120px;
}

@media (max-width: 1200px) {
  .header {
    text-align: center;
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #BD1E33;
    font-size: 50px;
    text-shadow: 2px 2px 4px #000000;
  }

  .author {
    text-align: center;
    position: absolute;
    top: 360px;
    left: 40%;
  }

  .image-1 {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 450px;
    left: 20%;
    width: 600px;
  }

  .body-1 {
    position: absolute;
    justify-content: center;
    top: 910px;
    padding-top: 50px;
    font-size: 30px;
    left: 60px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .image-2 {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 1700px;
    left: 200px;
  }

  .body-2 {
    position: absolute;
    top: 2000px;
    left: 60px;
    padding-top: 50px;
    font-size: 30px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .image-3 {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 2400px;
    width: 200px;
    left: 40%;
  }

  .body-3 {
    position: absolute;
    top: 2700px;
    padding-top: 50px;
    font-size: 30px;
    left: 60px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .image-4 {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 3100px;
    width: 50px;
    left: 55%;
    align-items: center;
  }

  .body-4 {
    position: absolute;
    top: 3400px;
    padding-top: 50px;
    font-size: 30px;
    left: 60px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .image-5 {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 3900px;
    width: 500px;
    left: 30%;
  }

  .body-5 {
    position: absolute;
    top: 4200px;
    left: 60px;
    padding-top: 50px;
    font-size: 30px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .image-6 {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 4800px;
    left: 20%;
    padding-bottom: 400px;
    align-items: center;
  }

  .body-6 {
    position: absolute;
    top: 5100px;
    left: 60px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 50px;
    font-size: 30px;
  }

  .image-7 {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 5600px;
    width: 700px;
    left: 25%;
  }

  .body-7 {
    position: absolute;
    top: 5900px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    font-size: 30px;
  }

  .image-8 {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 6300px;
    width: 700px;
    left: 25%;
    padding-bottom: 140px;
  }

  .body-8 {
    position: absolute;
    top: 6600px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    font-size: 30px;
  }

  .image-9 {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 7100px;
    width: 700px;
    left: 25%;
    padding-bottom: 140px;
  }

  .body-9 {
    position: absolute;
    top: 7500px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    font-size: 30px;
  }

  .image-10 {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 8100px;
    width: 700px;
    left: 25%;
    padding-bottom: 140px;
  }
}

@media (max-width: 1000px) {
  .header {
    text-align: center;
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #BD1E33;
    font-size: 50px;
    text-shadow: 2px 2px 4px #000000;
  }

  .author {
    text-align: center;
    position: absolute;
    top: 360px;
    left: 40%;
  }

  .image-1 {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 450px;
    left: 200px;
    width: 600px;
  }

  .body-1 {
    position: absolute;
    justify-content: center;
    top: 1000px;
    padding-top: 50px;
    font-size: 30px;
    left: 60px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .image-2 {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 2200px;
    left: 200px;
  }

  .body-2 {
    position: absolute;
    top: 2500px;
    left: 60px;
    padding-top: 50px;
    font-size: 30px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .image-3 {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 3100px;
    width: 200px;
    left: 40%;
  }

  .body-3 {
    position: absolute;
    top: 3500px;
    font-size: 30px;
    left: 60px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .image-4 {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 4100px;
    width: 50px;
    align-items: center;
  }

  .body-4 {
    position: absolute;
    top: 4400px;
    padding-top: 50px;
    font-size: 30px;
    left: 60px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .image-5 {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 5100px;
    left: 30%;
  }

  .body-5 {
    position: absolute;
    top: 5500px;
    left: 60px;
    padding-top: 50px;
    font-size: 30px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .image-6 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 6550px;
    height: 60px;
    left: 20%;
  }

  .body-6 {
    position: absolute;
    top: 6900px;
    left: 60px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 50px;
    font-size: 30px;
  }

  .image-7 {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 7500px;
    width: 700px;
    left: 20%;
  }

  .body-7 {
    position: absolute;
    top: 7800px;
    left: 60px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 50px;
    font-size: 30px;
  }

  .image-8 {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 8400px;
    width: 700px;
    left: 20%;
  }

  .body-8 {
    position: absolute;
    top: 8800px;
    left: 60px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 50px;
    font-size: 30px;
  }

  .image-9 {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 9500px;
    width: 700px;
    left: 20%;
  }

  .body-9 {
    position: absolute;
    top: 9900px;
    left: 60px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 50px;
    font-size: 30px;
  }

  .image-10 {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 10800px;
    width: 700px;
    left: 20%;
    padding-bottom: 140px;
  }

}

.Footer-master{
  background-color: #D2DFFF;
  text-align: center;
	position: fixed;
  bottom: 0;
  width: 100%;
}

.counter {
  background-color: #D2DFFF;
  display: flex;
  justify-content: center;
}

.share-button {
  display: flex;
  justify-content: center;
}
