body {
  margin: 0;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #D2DFFF;
  position: fixed;
  width: 100%;
  z-index: 1;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 10px;
  text-decoration: none;
  font-size: 40px;
  display: block;
  text-shadow: 2px 2px 4px #000000;
}

/* Style the hamburger menu */
.topnav a.icon {
  display: block;
  position: absolute;
  right: 20px;
  top: 10px;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ff3557;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #4CAF50;
  color: white;
}

@media (max-width: 991px) {
  /* Style the navigation menu */
  .topnav {
    overflow: hidden;
    background-color: #D2DFFF;
    position: fixed;
    width: 100%;
    z-index: 1;
  }

  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }

  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 10px;
    text-decoration: none;
    font-size: 50px;
    display: block;
    text-shadow: 2px 2px 4px #000000;
  }

  /* Style the hamburger menu */
  .topnav a.icon {
    display: block;
    position: absolute;
    right: 20px;
    top: 10px;
  }

  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #49CBFF;
    color: black;
  }

  /* Style the active link (or home/logo) */
  .active {
    background-color: #4CAF50;
    color: white;
  }
}

.master {
  top: 25%;
}

.header {
  text-align: center;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ff3557;
  font-size: 75px;
  text-shadow: 2px 2px 4px #000000;
}

.author {
  text-align: center;
  position: absolute;
  top: 35%;
  left: 40%;
}

.image-1 {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 45%;
  left: 20%;
}

.body-1 {
  position: absolute;
  top: 105%;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
  font-size: 20px;
}

.image-2 {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 150%;
  left: 20%;
}

.body-2 {
  position: absolute;
  top: 190%;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
  font-size: 20px;
}

.image-3 {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 220%;
  left: 20%;
}

.body-3 {
  position: absolute;
  top: 270%;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
  font-size: 20px;
}

.image-4 {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 310%;
  width: 50px;
  left: 50%;
  align-items: center;
}

.body-4 {
  position: absolute;
  top: 370%;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
  font-size: 20px;
}

.image-5 {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 405%;
  width: 600px;
  left: 30%;
}

.body-5 {
  position: absolute;
  top: 440%;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
  font-size: 20px;
}

.image-6 {
  display: flex;
  justify-content: center;
  position: absolute;
  flex-direction: column;
  top: 470%;
  left: 30%;
  padding-bottom: 300px;
}

@media (max-width: 1300px) {
  .header {
    text-align: center;
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ff3557;
    font-size: 60px;
    text-shadow: 2px 2px 4px #000000;
  }

  .author {
    text-align: center;
    position: absolute;
    top: 360px;
    left: 40%;
    font-size: 20px;
  }

  .image-1 {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 450px;
    left: 5%;
  }

  .body-1 {
    position: absolute;
    justify-content: center;
    top: 970px;
    padding-top: 50px;
    font-size: 30px;
    left: 60px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .image-2 {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 1400px;
    left: 5%;
  }

  .body-2 {
    position: absolute;
    top: 1800px;
    left: 60px;
    padding-top: 50px;
    font-size: 30px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .image-3 {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 2200px;
    width: 200px;
    left: 40%;
  }

  .body-3 {
    position: absolute;
    top: 2600px;
    padding-top: 50px;
    font-size: 30px;
    left: 60px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .image-4 {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 3300px;
    width: 50px;
    left: 55%;
    align-items: center;
  }

  .body-4 {
    position: absolute;
    top: 3700px;
    padding-top: 50px;
    font-size: 30px;
    left: 60px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .image-5 {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 4500px;
    width: 500px;
    left: 30%;
  }

  .body-5 {
    position: absolute;
    top: 4900px;
    left: 60px;
    padding-top: 50px;
    font-size: 30px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .image-6 {
    display: flex;
    justify-content: center;
    position: absolute;
    flex-direction: column;
    top: 5400px;
    left: 10%;
  }
}

@media (max-width: 1000px) {
  .header {
    text-align: center;
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ff3557;
    font-size: 70px;
    text-shadow: 2px 2px 4px #000000;
  }

  .author {
    text-align: center;
    position: absolute;
    top: 400px;
    left: 35%;
    font-size: 30px;
  }

  .image-1 {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 500px;
    left: .1%;
  }

  .body-1 {
    position: absolute;
    justify-content: center;
    top: 1000px;
    padding-top: 60px;
    font-size: 50px;
    left: 60px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .image-2 {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 2600px;
    left: 0;
  }

  .body-2 {
    position: absolute;
    top: 2900px;
    left: 60px;
    padding-top: 50px;
    font-size: 50px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .image-3 {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 4000px;
    align-items: center;
    left: 45%;
  }

  .body-3 {
    position: absolute;
    top: 4400px;
    font-size: 50px;
    left: 60px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .image-4 {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 6400px;
    width: 50px;
    align-items: center;
  }

  .body-4 {
    position: absolute;
    top: 6700px;
    padding-top: 50px;
    font-size: 50px;
    left: 60px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .image-5 {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 9200px;
    align-items: center;
  }

  .body-5 {
    position: absolute;
    top: 9500px;
    left: 60px;
    padding-top: 50px;
    font-size: 50px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .image-6 {
    display: flex;
    justify-content: center;
    position: absolute;
    flex-direction: column;
    top: 11400px;
    left: 15%;
    bottom: 400px;
  }
}

.Footer-master{
  background-color: #D2DFFF;
  text-align: center;
	position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-text {
  padding: 5px;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.counter {
  background-color: #D2DFFF;
  display: flex;
  justify-content: center;
}

.share-button {
  display: flex;
  justify-content: center;
}

@media (max-width: 1000px) {
  .Footer-master{
    background-color: #D2DFFF;
    text-align: center;
  	position: fixed;
    bottom: 0px;
    width: 100%;
    height: 200px;
    font-size: 20px;
  }

  .footer-text {
    padding: 5px;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .counter {
    background-color: #D2DFFF;
    display: flex;
    justify-content: center;
  }

  .share-button {
    display: flex;
    justify-content: center;
  }
}
